@model tienda_express.Models.usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal usuario</title>

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



</head>
<body>
    <center><h3>Portal usuario</h3></center>

@using(Html.BeginForm("logc","sistema",FormMethod.Post))
{
<table border="1" align="center" class="border border-dark">
<tr>
<td><label>Rut : </label></td>
<td>@Html.TextBoxFor(x=>x.rut)</td>
</tr>
<tr>
<td><label>Clave : </label></td>
<td>@Html.PasswordFor(x=>x.clave)</td>
</tr>
<tr>
<td colspan="2" align="center">
    <button type="submit" name="Login" value="Login" id="Login" class="btn btn-success">Login</button>
    &nbsp;
    <button type="reset" name="Cancelar" value="Cancelar" id="Cancelar" class="btn btn-danger">Cancelar</button>



</td>
</tr>

</table>    
}

</body>
</html>
<script>
    $(document).ready(function () {
        $("#Login").click(function () {

            var r = $("#rut").val();
            var c = $("#clave").val();


            if (r == null || r == "" || c == null || c == "")
            {
                alert("Debe completar los campos");
            } else {
                alert("Campos completos");
            }






        });
    });

</script>